@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

* {
  color: #8c1c1d;
  color: #e3b211;
  color: #91712a;
  color: #89b0a2;
  color: #e2cbab;
  color: rgb(41, 40, 40);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e2cbab;
}

h1,
h2,
h3 {
  font-family: "GFS Didot", serif;
}

img {
  max-width: 200px;
}

button {
  background-color: #8c1c1d;
  border: none;
  color: white;
  padding: 12px 30px;
  font-family: "GFS Didot", serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}
